#settings {
   /*width: fit-content;*/
    background-color: white;
   /* background-image: url('line.svg');*/
   /*  background-repeat: no-repeat; */
    border-radius: 0.5em;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(207,205,205,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(207,205,205,1);
    box-shadow: 10px 10px 0px 0px rgba(207,205,205,1);
    transition: opacity 0.2s ease;
}

#filters > :first-child {
    font-weight: bold;
    margin-bottom: 1em;
    display: block;
}

.filter-container {
    position: relative;
    padding-left: 40px;
    margin: 0 0 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}

.filter-container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.filter-btn {
    position: absolute;
    left: 0;
    height: 14px;
    width: 14px;
    margin-top: 5px;
    background-color: rgba(66,167,245,1);
    border: 3px solid white;
    border-radius: 50%;
    transition: all 0.3s ease;
    left: 6px;
}

.filter-container > input:checked ~ .filter-btn, .filter-container:hover > .filter-btn {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    left: 3px;
}

.filter-btn:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-container input:checked ~ .filter-btn:after {
    display: block;
}

.filterBanner {
    margin-bottom: 35px !important;
}


.filter-vertical-div {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 22px;
    height: 25px;
    width: 1px;
}