@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body, #root {
  width: 100%;
  min-height: 100vh;
  background: rgb(66,167,245);
  background: linear-gradient(180deg, rgba(66,167,245,1) 0%, rgba(132,66,245,1) 90%); 
}

#content {
  padding: 1em 2em;
}

#options-nav {
  display: flex;
}

#settings-icon {
  margin-top: 1em;
  color: white;
  transition: all 0.2s ease;
}

#settings-icon:hover {
  cursor: pointer;
  transform: rotate(30deg);
}